:root {
    --font-grandiflora: 'Grandiflora One', serif;
    --font-lugrasimo: 'Lugrasimo', cursive;
  }
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: none;
}

body{
  position: relative;
  font-family: var(--font-grandiflora);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
  body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 0,0.8);
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
    z-index: 1; /* Place the overlay above the background image */
    opacity: 0; /* Initially make the overlay transparent */
    transition: opacity 1s ease; /* Add a transition for the opacity */
  }
  .overlay-active::after {
    opacity: 1; /* Make the overlay fully opaque when active */
  }


/* ------Intro Image START------WORK IN PROGRESS */
.intro-img-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0; 
}
  .intro-img-container:hover{
    transition: 5s;
    transform: scale(70);
    opacity: 0;
    z-index: 0;
    transform: translatey(-250deg);
  }
  #intro-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
  }

    .intro-h1-div {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2; 

    }
    .intro-h1-div h1{
      font-family: var(--font-grandiflora);
      color: rgb(0, 0, 0);
      font-size: 50px;
    }
        /* Add styles to cover the entire page */
        img.overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; /* Ensure the image covers the entire viewport */
          z-index: 9999; /* Place it above everything else */
          opacity: 1; /* Initial opacity */
          transition: opacity 2s; /* Transition for fading effect */
      }

      /* Add styles to fade the image away */
      .fade-out {
          opacity: 0;
      }
      img.overlay:hover{
        transition: 5s;
        transform: scale(70);
        opacity: 0;
        z-index: 0;
        transform: translatey(-250deg);
      }
/*------ Intro Image END ------*/





/* ------Navbar START------ */
.navbar{
    position: relative;
    margin: auto;
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}
  .logo{
      position: absolute;
      left: 10px;
      z-index: 9;
      height: 50px;
      margin-bottom: 20px;
  }
    .logo>a{
      
        text-decoration: none;
    }
      a>.brand{
          width: 4em;
          font-family: var(--font-lugrasimo);
          color: white;
          font-size: 18px;
          display: flex;
          padding-top: 10px;
      }
      a>.brand:hover{
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
      }
      a>.brand-black{
        color: black;
      }
      a>.brand-black:hover{
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
      }
        .brand, span{
            display: absolute;
            right: 0;
            justify-content: center;
            align-items: center;
            width: 1em;
        }
          /* JS brand hover change */
          .span-move{
            transform: translateX(30%);
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
            color: yellow;
            transition: transform 0.2s ease-in-out, color 0.3s ease;
          }
  .dropdown {
      position: absolute;
      width: 300px;
      padding-right: 50px;
      right: 10px;
      z-index: 9;
      }
      /* Hamburger btn */
      .dropbtn {
        position:absolute;
        padding-top: 0.2em;
        right: 10px;
        background-color: transparent;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 41px;
        transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
      }
        .dropbtn {
          margin-top: 5px;
        }
      /* JS class Toggle off Hamburger menu */
        .dropbtn-off{
          visibility: hidden;
        }
    
    /* Define the styles for the hamburger button and its bars */
      .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
      }
      .bar:nth-child(2){
        width: 70%;
      }
    
      
      /* Styles for the closed (hamburger) state */
      .dropbtn.closed .bar:nth-child(2) {
        opacity: 1;
      }
      
      /* Styles for the opened (close) state */
      .dropbtn.opened .bar:nth-child(1) {
        transform: translateY(15px) rotate(50deg);
        background-color: rgb(128, 3, 3);
        width: 35px;
        height: 4px;
        margin-bottom: 5px;
      }
      
      .dropbtn.opened .bar:nth-child(2) {
        opacity: 0;
        pointer-events: none;
      }
      
      .dropbtn.opened .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
        background-color: rgb(92, 2, 2);
        width: 35px;
        height: 4px;
        margin-bottom: 5px;
      }
    
      .dropdown-content {
        visibility: hidden;
        opacity: 0;
        right: 0;
        transform: translateX(8%);
        transition: transform 0.8s ease-out;
      }
      .dropdown-content.menu-opened{
        visibility: visible;
        opacity: 1;
        transform: translateX(0) ;
        transition: transform 0.4s ease-in;
      }
      .dropdown>a{
          text-decoration: none;
        }
  .menu{
  height: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content:space-around;
  z-index: 9999; 
  }
    .menu-item a {
        font-family: sans-serif;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }

/* ---- Underline the NAVBAR list items---- */
      .menu>.menu-item>a:hover{
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
      }
      .hover-line{
        position: relative;
      }
        /* Creates the underlines for each li without showing */
        .hover-line::before {
          content: "";
          position: absolute;
          top: 85%; /* Adjust this value to move the line up or down */
          left: 0;
          width: 100%;
          height: 1px; /* Adjust the thickness of the line */
          transform: scaleX(0.5);
          transform-origin: center bottom;
          transition: transform 0.3s ease;
        }
        /* Underlines each li with effect */
        .hover-line:hover::before {
          content: "";
          position: absolute;
          top: 85%; /* Adjust this value to move the line up or down */
          left: 0;
          width: 110%;
          height: 3px; /* Adjust the thickness of the line */
          background-color: rgb(145, 19, 19); /* Line color on hover */
        }
      .menu .menu-item:nth-child(1){
        transform: translateX(30deg);
        transition: 1s;
      }
      .menu .menu-item:nth-child(2){
        transform: translateX(0);
        transition: 1s;
      }
      .menu .menu-item:nth-child(3){
        transform: translateX(-30deg);
        transition: 1s;
      }

/*------ Main content ------*/




.grid-container{
  display: grid;;
  top: 250px;
  grid-template-columns: 1fr 10fr 10fr 1fr;
  grid-template-rows: auto; 
  column-gap: 20px;
  row-gap: 10px;
  position: absolute;
  min-height: 100%;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}
  .grid-container h1{
    color: white;
    font-family: var(--font-lugrasimo);
    font-weight: 900;
    font-size: 27px;
  }

/* ----- About Me START */
  .about-me{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: var(--font-lugrasimo);
    font-weight: 300;
    line-height: 45px;
    margin: 200px auto 0;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 1000px;
  }
  .about-me>p{
    margin-top: 150px;
    color: white;
    font-size: 23px;
  }
/* ----- About Me END */

#map-hr {
  border: none;
  border-top: 3px double red;
  color: yellow;
  overflow: visible;
  text-align: center;
  height: 5px;
}
#work-h1{
  font-size: 40px;
  margin-top: 100px;
  text-decoration:2px line-through rgba(145, 19, 19, 0.646);;
}


/* ---- World Map & Flip Card Trigger image inside DIV */

  #world-map-img, #flip-card-img{
    cursor: pointer;
    position: relative;
    height: 120px;
    width: 170px;
  }
  #world-map-img:hover, #flip-card-img:hover{
    transform: scale(1.15);
    transition: 0.2s ease-in-out;
  }
/* --------------------- */


/* ------World Map START------ */
  .world-map-div{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 200px auto 0;
  }


    /* The "Expand" H2 */
      .iframe-map-container{
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto; 
      }

  /* ------World Map END------ */


  /* ------Flip-card game START------*/
    .flip-card-div{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      height: 200px;
      width: 100%;
      max-width: 1000px;
      text-align: center;
      margin: 200px auto 0;
    }
     
    /* The "Expand" H2 */
      .iframe-flip-container{

        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto; 
      }
      .iframe-flip-container>iframe{
        transform: translateY(-15%);
      }
  /* ------Flip-card game END------ */

  #footer-hr {
    border: none;
    border-top: 3px double red;
    color: yellow;
    overflow: visible;
    text-align: center;
    height: 5px;
  }
  
  #footer-hr:after {
    background: red;
    font-size: 18px;
    content: 'á¼';
    padding: 0 4px;
    position: relative;
    top: -15px;
  }


  /* ----- Footer START ----- */
  footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 300px;

    width: 100%;
  }
    .grid-container-footer{
      display: grid;
      top: 0px;
      grid-template-columns: 1fr 3fr 3fr 1fr;
      grid-template-rows: auto auto auto auto ; 
      column-gap: 20px;
      row-gap: 10px;
      z-index: 1;
      text-align: center;
    }
      .social-media{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: black;
        height: 300px;
        width: 500px;
        margin: 100px auto 0;
      }
      .social-media p{
        font-family: var(--font-lugrasimo);
        color: white;
      }
      .social-media button{
        margin-top: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        background: black;
        border:3px solid rgba(167, 17, 17, 0.644);
        border-radius: 20px;
        padding: 5px 15px;

      }
      .email{
        opacity: 0;
        text-decoration: none;
        font-size: 22px;
        font-family:var(--font-lugrasimo);
        font-weight: 300;
        color: white;
      }
      .email:hover{
        color: rgba(255, 255, 0, 0.681);
        letter-spacing: 0.05em;
      }
      .email-visibility{
        opacity: 1;
        transition: 0.4s;
      }
      .social-media button:hover{
        background-color: rgba(255, 255, 0, 0.85);
        color: black;
        transition: 0.4;
        border: none;

      }
        .social-media  #social-media-links{
          font-size: 40px;
          color: white;
          }
        
        .social-media #social-media-links a i{
              color: white;
              transition: 0.2s;
          }
          @keyframes shake{
              20%{
                  transform: rotate(7deg);
              }
              40%{
                  transform: rotate(2deg);
              }
              60%{
                transform: rotate(-2deg);
            }
              80%{
                transform: rotate(-7deg);
            }
          }
          .social-media #social-media-links a i:hover{
              animation-name: shake;
              animation-duration: 0.4s;
              animation-iteration-count: infinite;
              transform: translateY(-3px);
          }
          #social-media-links a .fa-facebook-square:hover{
            color: red;
          }
          #social-media-links a .fa-youtube-square:hover{
            color: red;
          }
          #social-media-links a .fa-twitter-square:hover{
            color: red;
          }

      .copyrights{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 6;
        color: white;
        font-weight: 900;
        background-color: black;
        text-align: center;
      }
      .copyrights>h2{
        font-size: 13px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
      }
  /* ----- Footer END ----- */

    iframe{
      width: 100%;
      height: 100%;
      border: none;
      overflow: hidden;
    }

/* ----- Responsivness START ----- */
  @media (max-width: 1460px) {
    /* Adjust the grid layout for smaller screens */
    body::after{
      height: 56px;
    }
    .grid-container {
      top: 200px;
      display: grid;
      grid-template-columns: 3fr 10fr 10fr 3fr;
      grid-template-rows: auto auto;
      row-gap: 10px;
      position: relative;
      height: auto;
      width: 100vw;
      
      z-index: 1;
    }
    
    .world-map-div{
      /* World Map take up the entire row */
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      height: 200px;

    }

    .flip-card-div {
      /* Flip Card take up the entire row below World Map */
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      height: 200px;
    }
  }
  /* 850px downwards changing content */
  @media (max-width: 850px){
    body::after{
      height: 56px;
    }
   .grid-container{
    top: 200px;
    height: auto;
    /* overflow: hidden; */
   }
   .contact{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    width: 100%;
   }
   .social-media{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    margin: auto;
    width: 100%;
    
   }
   .copyrights{
    width: 100vw;
   }
  }

  @media (max-width: 500px){
    body::after{
      height: 81px;
    }
    .dropdown {
      top: 25px;
    } 
    .grid-container h1{
      color: white;
      font-family: var(--font-lugrasimo);
      font-weight: 900;
      font-size: 27px;
    }
  }
  /* -----Responsivness END-----  */


/* -------Classes to toggle on/off with JS-------- */

.expanded{
  height: auto;
}
.iframe-visibility{
  visibility: visible;
  opacity: 1;
}
